body header nav ul li a {
    text-decoration:none; color: whitesmoke; font-size: small; 
}

.flex-container li a {margin-bottom: 50px; color: black;}

.flex-container li {list-style-type: none;}

footer main section a {text-decoration: none;}

footer main section h3 li a {color: violet;text-decoration: none;}

