/**footer main**/

footer main section a h3 {text-decoration: none; color: whitesmoke; font-size: 700 px; font-style: italic; font-weight: 700;}

footer main section h3 {color: violet; list-style-type: none;}

footer main section a {text-decoration: none;}

footer main section h3 li a {color: violet;text-decoration: none;}

footer h2 {color: violet;}

footer main section a h3 {text-decoration: none; color: whitesmoke; font-size: 700 px; font-style: italic; font-weight: 700;}